[Unit]
Description=SWUpdate daemon
Documentation=https://github.com/sbabic/swupdate
Documentation=https://sbabic.github.io/swupdate

[Service]
ExecStart=/usr/lib/swupdate/swupdate.sh
KillMode=mixed

[Install]
WantedBy=multi-user.target
