[Unit]
Description=Web2py daemon
After=network.target

[Service]
Type=simple
ExecStart=/var/www/web2py/web2py.py --nogui -a '<recycle>' -i 0.0.0.0 -p 8000
User=www-data

[Install]
WantedBy=multi-user.target
