[Unit]
Description=Triggerhappy daemon

[Service]
ExecStart=/usr/sbin/thd --triggers /etc/triggerhappy/triggers.d --socket /var/run/thd.socket --user nobody --deviceglob /dev/input/event*
Restart=always

[Install]
WantedBy=multi-user.target
