[Unit]
Description=DHCP client
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/dhcpcd
PIDFile=/var/run/dhcpcd.pid
ExecStart=/sbin/dhcpcd $DAEMON_ARGS
Restart=always

[Install]
WantedBy=multi-user.target
