[Unit]
Description=Exim MTA
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/exim -bdf
Restart=always

[Install]
WantedBy=multi-user.target
