[Unit]
Description=Braille Device Support
Documentation=man:brltty(1)
Documentation=http://brltty.com/

DefaultDependencies=no
Before=sysinit.target
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=simple
ExecStart=/usr/bin/brltty --no-daemon
TimeoutStartSec=5
TimeoutStopSec=10
Restart=always
RestartSec=30
Nice=-10
OOMScoreAdjust=-900

[Install]
WantedBy=sysinit.target

