[Unit]
Description=Avahi daemon
Requires=dbus.target
After=syslog.target network.target auditd.service

[Service]
Type=oneshot
RemainAfterExit=ye
ExecStart=/usr/sbin/avahi-daemon -s
ExecReload=/usr/sbin/avahi-daemon -r
ExecStop=/usr/sbin/avahi-daemon -k
Restart=restart-always

[Install]
WantedBy=multi-user.target
