CONFIG_FIX_EARLYCON_MEM=y
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_DEBUG=y
CONFIG_NETFILTER_XT_MATCH_CGROUP=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CGROUP_NET_CLASSID=y
CONFIG_NAMESPACES=y
CONFIG_IPC_NS=y
CONFIG_PID_NS=y
CONFIG_UTS_NS=y
CONFIG_USER_NS=y
CONFIG_NET_NS=y
CONFIG_BRIDGE=y
CONFIG_VETH=y
