[Unit]
Description=SOCKS v4 and v5 compatible proxy server and client
Requires=network.target
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/dante
PIDFile=/run/dante.pid
ExecStart=/usr/sbin/sockd -D -p /run/dante.pid $DAEMON_ARGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
