[Unit]
Description=Hardware RNG Entropy Gatherer Daemon

[Service]
ExecStart=/usr/sbin/rngd -f $DAEMON_ARGS
EnvironmentFile=-/etc/default/rngd

[Install]
WantedBy=multi-user.target
