[Unit]
Description=Darkhttpd Web Server
After=syslog.target network.target auditd.service

[Service]
Environment="DARKHTTPD_ROOT=/var/www"
EnvironmentFile=-/etc/default/darkhttpd
ExecStart=/usr/sbin/darkhttpd $DARKHTTPD_ROOT $DARKHTTPD_FLAGS --chroot --uid nobody --gid www-data

[Install]
WantedBy=multi-user.target
