[Unit]
Description=OpenNTP Daemon
After=network.target
Conflicts=systemd-timesyncd.service

[Service]
Type=simple
ExecStart=/usr/sbin/ntpd -s -d

[Install]
WantedBy=multi-user.target
