CONFIG_M68K=y
CONFIG_COLDFIRE=y
# CONFIG_MMU is not set
CONFIG_M520x=y
CONFIG_CLOCK_SET=y
CONFIG_CLOCK_FREQ=66666666
CONFIG_CLOCK_DIV=1
CONFIG_M5208EVB=y
CONFIG_FREESCALE=y
CONFIG_RAMBASE=0x40000000
CONFIG_RAMSIZE=0x0
CONFIG_VECTORBASE=0x40000000
CONFIG_KERNELBASE=0x40020000
CONFIG_4KSTACKS=y
CONFIG_RAMKERNEL=y
CONFIG_BINFMT_FLAT=y
CONFIG_SERIAL_MCF=y
CONFIG_SERIAL_MCF_BAUDRATE=115200
CONFIG_SERIAL_MCF_CONSOLE=y
CONFIG_BOOTPARAM=y
CONFIG_BOOTPARAM_STRING="console=ttyS0,115200"
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_NETDEVICES=y
CONFIG_NET_VENDOR_FREESCALE=y
CONFIG_FEC=y
