[Unit]
Description=UPnP Internet Gateway Device version 2 daemon
After=network.target

[Service]
Environment="LAN=eth0"
Environment="WAN=eth0"
EnvironmentFile=/etc/default/upnpd
# For the UPnP library to function correctly, networking must be configured
# properly for multicasting as described in 
# https://sourceforge.net/p/pupnp/code/ci/master/tree/README.
# Without this addition, device advertisements and control point searches will
# not function.
# However, the route has to be configured once for all UPnP applications
# (igd2-for-linux, ushare, ...) so do not manage UPnP route by default
#ExecStartPre=/sbin/route add -net 239.0.0.0 netmask 255.0.0.0 $LAN
#ExecStopPost=/sbin/route del -net 239.0.0.0 netmask 255.0.0.0 $LAN
ExecStart=/usr/sbin/upnpd -f $WAN $LAN
Restart=always

[Install]
WantedBy=multi-user.target
