[Unit]
Description=Tiny HTTP daemon
After=network.target

[Service]
ExecStart=/usr/sbin/tinyhttpd
Restart=always

[Install]
WantedBy=multi-user.target
