[Unit]
Description=DDNS client
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/inadyn
Restart=always

[Install]
WantedBy=multi-user.target
