[Unit]
Description=PulseAudio Sound System
After=syslog.target

[Service]
UMask=077
ExecStart=/usr/bin/pulseaudio --system --daemonize=no
Restart=always

[Install]
WantedBy=multi-user.target
