CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_PCI=y
CONFIG_SUN_OPENPROMFS=m
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
# CONFIG_WIRELESS is not set
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_CHR_DEV_SG=y
CONFIG_SCSI_SUNESP=y
CONFIG_NETDEVICES=y
CONFIG_SUNLANCE=y
# CONFIG_WLAN is not set
CONFIG_INPUT_EVDEV=y
CONFIG_KEYBOARD_SUNKBD=y
CONFIG_MOUSE_SERIAL=y
CONFIG_SERIAL_SUNZILOG=y
CONFIG_SERIAL_SUNZILOG_CONSOLE=y
CONFIG_SERIAL_SUNSU=y
CONFIG_SERIAL_SUNSU_CONSOLE=y
CONFIG_SUN_OPENPROMIO=m
CONFIG_EXT4_FS=y
CONFIG_ISO9660_FS=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
