[Unit]
Description=i.MX Universal UTP Communication Service
After=systemd-modules-load.service

[Service]
Type=simple
ExecStart=/usr/bin/uuc

[Install]
WantedBy=multi-user.target

