[Unit]
Description=Babel daemon

[Service]
EnvironmentFile=-/etc/default/babeld
ExecStart=/usr/sbin/babeld $DAEMON_ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
