[Unit]
Description = Kodi Entertainment Center
After = network.target

[Service]
Type = simple
ExecStart = /usr/lib/kodi/kodi.bin --standalone -fs -n
Restart = on-failure

[Install]
WantedBy = multi-user.target

