[Unit]
Description=Tiny HTTP Daemon

[Service]
PIDFile=/run/thttpd.pid
ExecStart=/usr/sbin/thttpd -D -C /etc/thttpd.conf
Restart=always

[Install]
WantedBy=multi-user.target
