[Unit]
Description=Target Communication Framework Agent
After=network.target

[Service]
ExecStart=/usr/sbin/tcf-agent -L- -l0

[Install]
WantedBy=multi-user.target
