[Unit]
Description=MySQL database server

[Service]
ExecStartPre=/bin/sh -c 'test -d /var/mysql/mysql || mysql_install_db --user=mysql --ldata=/var/mysql'
ExecStart=/usr/bin/mysqld_safe
Restart=always

[Install]
WantedBy=multi-user.target
