[Unit]
Description=Task scheduler daemon
After=syslog.target

[Service]
ExecStart=/usr/sbin/crond -S
Type=forking

[Install]
WantedBy=multi-user.target
