# Architecture
BR2_arm=y
BR2_arm926t=y

# Toolchain options
BR2_LARGEFILE=y
BR2_INET_IPV6=y
BR2_INET_RPC=y
BR2_ENABLE_LOCALE=y
BR2_USE_WCHAR=y
BR2_PTHREADS_NATIVE=y
BR2_INSTALL_LIBSTDCPP=y

# No package
# BR2_PACKAGE_BUSYBOX is not set

# No filesystem (toolchain only)
