# Architecture
BR2_arm=y
BR2_arm926t=y

# Host utilities
#
BR2_PACKAGE_HOST_SAM_BA=y

# First stage bootloader
BR2_TARGET_AT91BOOTSTRAP=y
BR2_TARGET_AT91BOOTSTRAP_BOARD="at91sam9260ek"

# Second stage bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="at91sam9260ek_dataflash_cs0"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="at91sam9260_9g20"
