BR2_arm=y
BR2_arm926t=y
BR2_PACKAGE_HOST_SAM_BA=y
BR2_TARGET_AT91BOOTSTRAP=y
BR2_TARGET_AT91BOOTSTRAP_BOARD="at91sam9m10g45ek"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="at91sam9m10g45ek_nandflash"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="at91sam9g45"
