BR2_arm=y
BR2_arm926t=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS1"
BR2_PACKAGE_HOST_SAM_BA=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_AT91BOOTSTRAP=y
BR2_TARGET_AT91BOOTSTRAP_CUSTOM_PATCH_DIR="board/calao/qil-a9260/"
BR2_TARGET_AT91BOOTSTRAP_BOARD="qil_a9260"
BR2_TARGET_AT91BOOTSTRAP_NANDFLASH=y
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_PATCH_DIR="board/calao/qil-a9260/"
BR2_TARGET_BAREBOX_BOARD_DEFCONFIG="qil_a9260"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_PATCH="board/calao/qil-a9260/linux-3.4.7.patch"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/calao/qil-a9260/linux-3.4.7.config"
BR2_LINUX_KERNEL_ZIMAGE=y
