BR2_arm=y
BR2_cortex_a9=y
BR2_KERNEL_HEADERS_3_4=y
BR2_ARM_FPU_VFPV3D16=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA2"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_SNOWBALL_HDMISERVICE=y
BR2_PACKAGE_LIBNL=y
BR2_PACKAGE_SNOWBALL_INIT=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="snowball"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="https://github.com/igloocommunity/igloo-kernel"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="stable-linux-ux500-3.4"
BR2_LINUX_KERNEL_PATCH="board/calao/snowball/"
BR2_LINUX_KERNEL_DEFCONFIG="u8500"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
