BR2_arm=y
BR2_arm926t=y
BR2_JLEVEL=2
BR2_PACKAGE_HOST_SAM_BA=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_AT91BOOTSTRAP=y
BR2_TARGET_AT91BOOTSTRAP_CUSTOM_PATCH_DIR="board/calao/usb-a9g20-lpw/"
BR2_TARGET_AT91BOOTSTRAP_BOARD="usb_a9g20_lpw"
BR2_TARGET_AT91BOOTSTRAP_NANDFLASH=y
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_PATCH_DIR="board/calao/usb-a9g20-lpw/"
BR2_TARGET_BAREBOX_BOARD_DEFCONFIG="usb_a9g20"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/calao/usb-a9g20-lpw/linux-3.4.4.config"
