# Architecture
BR2_bfin=y
BR2_bf512=y

# Filesystem
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set

BR2_ROOTFS_POST_BUILD_SCRIPT="board/gdb/post-build.sh"

# Linux headers same as kernel, a 4.14 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.14.14"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/gdb/bfin-bf512/linux.config"
BR2_LINUX_KERNEL_VMLINUX=y

# Serial port config
BR2_TARGET_GENERIC_GETTY=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyBF0"

# use minimal busybox with hush
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-minimal.config"

# compile gdb sim
BR2_PACKAGE_HOST_GDB=y
# BR2_PACKAGE_HOST_GDB_TUI is not set
# BR2_PACKAGE_HOST_GDB_PYTHON is not set
BR2_PACKAGE_HOST_GDB_SIM=y
