# Architecture
BR2_arm=y
BR2_arm926t=y

# Bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="integratorcp_cm926ejs"

# Lock down headers to avoid breaking with new defaults
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="2.6.35"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="2.6.35"
BR2_LINUX_KERNEL_DEFCONFIG="integrator"

# Filesystem
BR2_TARGET_ROOTFS_TAR=y
