# Architecture
BR2_arm=y
BR2_arm926t=y

# Bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="cp926ejs"
BR2_TARGET_UBOOT_2010_06=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_2_6_35=
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="integrator"

# Filesystem
BR2_TARGET_ROOTFS_TAR=y
