# Architecture
BR2_arm=y
BR2_arm920t=y

# Filesystem
BR2_TARGET_ROOTFS_TAR=y

# Linux headers same as kernel, a 2.6 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_REALLY_OLD=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="2.6.38.8"
BR2_LINUX_KERNEL_PATCH="http://maxim.org.za/AT91RM9200/2.6/2.6.38-at91.patch.gz"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="kb9202"
