# Architecture
BR2_sparc=y
BR2_sparc_v8=y

# filesystem
BR2_TARGET_ROOTFS_EXT2=y
# BR2_TARGET_ROOTFS_TAR is not set

# Lock to 3.11 headers to avoid breaking with newer kernels
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.11.4"

# Linux kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.11.4"
BR2_LINUX_KERNEL_DEFCONFIG="sparc32"
BR2_LINUX_KERNEL_ZIMAGE=y
