# Architecture
BR2_arcle=y
BR2_archs38=y

# System
BR2_TARGET_GENERIC_HOSTNAME="archs38_vdk"
BR2_TARGET_GENERIC_ISSUE="Welcome to the HS38 VDK Software Development Platform"
BR2_ROOTFS_OVERLAY="board/synopsys/axs10x/fs-overlay"
BR2_TARGET_ROOTFS_EXT2=y

# Linux headers same as kernel, a 4.10 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_10=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.10.8"
BR2_LINUX_KERNEL_PATCH="board/synopsys/vdk/patches/linux"
BR2_LINUX_KERNEL_DEFCONFIG="vdk_hs38_smp"
BR2_LINUX_KERNEL_VMLINUX=y
