# Architecture
BR2_arm=y
BR2_arm926t=y

# Patches
BR2_GLOBAL_PATCH_DIR="board/telit/evk-pro3/patches"

# Linux headers same as kernel, a 3.9 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_9=y

# Watchdog is armed by the first stage bootloader
BR2_PACKAGE_BUSYBOX_WATCHDOG=y

# Filesystem
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBI=y

# Bootloader
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_VERSION=y
BR2_TARGET_BAREBOX_CUSTOM_VERSION_VALUE="2017.01.0"
BR2_TARGET_BAREBOX_BOARD_DEFCONFIG="telit_evk_pro3"
BR2_TARGET_BAREBOX_CONFIG_FRAGMENT_FILES="board/telit/evk-pro3/barebox.fragment"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.9.11"
BR2_LINUX_KERNEL_DEFCONFIG="at91_dt"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/telit/evk-pro3/linux.fragment"
BR2_LINUX_KERNEL_APPENDED_ZIMAGE=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="evk-pro3"
