# spidev
CONFIG_SPI_SPIDEV=y

# spi nor
CONFIG_MTD=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_M25P80=y

# wireless core
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_CFG80211_WEXT=y

# wireless drivers
CONFIG_WLAN=y

# ondemand cpufreq governor
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
