[Unit]
Description=Precision Time Protocol daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/ptpd -c
Restart=always

[Install]
WantedBy=multi-user.target
