[Unit]
Description=DHCP server
After=network.target

[Service]
Type=forking
PIDFile=/run/dhcpd.pid
ExecStart=/usr/sbin/dhcpd -q -pf /run/dhcpd.pid $INTERFACES
KillSignal=SIGINT
EnvironmentFile=/etc/default/dhcpd.conf

[Install]
WantedBy=multi-user.target
