[Unit]
Description=Bandwidth usage monitor and reporter
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/bandwidthd
PIDFile=/var/run/bandwidthd.pid

[Install]
WantedBy=multi-user.target
