[Unit]
Description=Starts Psplash Boot screen
Wants=systemd-vconsole-setup.service
After=systemd-vconsole-setup.service systemd-udev-trigger.service systemd-udevd.service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/psplash -n

[Install]
WantedBy=sysinit.target
