Port 22
ListenAddress 0.0.0.0

HostKey /data/etc/ssh_host_key
HostKey /data/etc/ssh_host_rsa_key
HostKey /data/etc/ssh_host_dsa_key
HostKey /data/etc/ssh_host_ecdsa_key
HostKey /data/etc/ssh_host_ed25519_key

PermitRootLogin yes
PermitEmptyPasswords yes
AuthorizedKeysFile /data/etc/ssh_authorized_keys
UseDNS no
Banner /var/cache/sshd_banner

UsePrivilegeSeparation sandbox
Subsystem sftp /usr/libexec/sftp-server

